body {
  margin: 0 auto;
}

main {
  padding: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #000;
  color: #fff;
}

nav ul  {
  display: flex;
}

nav ul li {
  margin: 10px;
  list-style: none;
}

nav ul li:hover {
  cursor: pointer;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

img {
  width: 100%;
}

/*== Desktops above 800px ==*/
@media screen and (min-width: 800px) {
  nav div.hamburger {
    display: none;
  }
}

/*== Tablets less than 800px ==*/
@media screen and (max-width: 800px) {
  nav .menu {
    display: flex;
    flex-direction: column;
    display: none;
  }

  nav div.hamburger {
    margin-top: 15px;
    font-size: 1.4em;
  }

  nav div.hamburger:hover {
    cursor: pointer;
  }
}
